img{
    border-radius: 400px;
    width: 150px;
    height: 140px;
}

p{
    font-size: 20px;
}

.name{
    position: relative;
    left: 180px;
    bottom: 150px;
}

.email{
    position: relative;
    left: 180px;
    bottom: 155px;
    font-weight: 100;
    font-size: 18px;
}

.content{
    color: gray;
    width: 440px;
    position: relative;
    bottom: 60px;
}

@media(max-width:480px)
{
    img{
        border-radius: 400px;
        width: 150px;
        height: 140px;
    }

    p{
        font-size: 20px;
    }

    .name{
        position: relative;
        left: 180px;
        bottom: 150px;
    }

    .email{
        position: relative;
        left: 180px;
        bottom: 155px;
        font-weight: 100;
        font-size: 17px;
    }

    .content{
        color: gray;
        width: auto;
        padding: 2px;
        position: relative;
        bottom: 60px;
        font-size: 16px;
    }

}
